/* Some Base Styles */
*, html { font-family: Helvetica, Arial, sans-serif; }

/* Import myriad pro font */
@font-face {font-family: MyriadPro; src: url('../Resources/MYRIADPRO-REGULAR.otf');}
@font-face {font-family: MyriadProBold; src: url('../Resources/MYRIADPRO-BOLDCONDIT.otf');}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 100;
  src: local('Poiret One'), local('PoiretOne-Regular'), url('http://themes.googleusercontent.com/static/fonts/poiretone/v1/HrI4ZJpJ3Fh0wa5ofYMK8b3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), url('http://themes.googleusercontent.com/static/fonts/comfortaa/v3/qLBu5CQmSMt1H43OiWJ77bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: normal;
  src: local('PT Mono'), local('PTMono-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptmono/v1/RTA0Dhj_HESY0h-ax44VkwLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}
body 
{ 
	background-image: url('../images/plaid_dark.png');
	background-repeat: repeat;
	padding-bottom: 1em;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	}

img { border: none; }

html { font-size: 100%; height: 100%; /* IE hack */ }

.Hidden {display: none;}

#Content 
{ 
	font-size: 0.75em; 
	overflow-x:hidden; 
	border:1px solid rgba(0, 0, 0, 0.3);
	border-radius:3px; 
	box-shadow: 2px 2px 5px 5px #000000;
	width: 95%;
	min-width:960px; 
	margin:.6em auto 0.4em;
	background-color: #cccccc;
	} 
table { font-size: 100%; /* IE hack */ }

input, select, textarea, th, td { font-size:1em; }

/* Rules for 'split' buttons */
div.splitButton
{
	margin-top: 1em;
	margin-left: 2em;
	font-size: 0.75rem;
}

div .splitButton label
{
	font-size: 1.5em;
	margin-right: 2.5em;
}

div .splitButton span
{
	background-color: #505050 !important;
	border: 2px black solid !important;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
}

div .splitButton span.selected
{
	padding: 0.3em 0.8em !important;
	box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.3) inset !important;
}

div .splitButton span:hover
{
	background-color: rgba(0, 153, 255, 0.5) !important;
	padding: 0.3em 0.8em !important;
}

span.leftButton 
{
	font-size: 2em !important;
	color: white !important;
	font-family: MyriadProBold, MyriadPro, Arial, Sans-Serif !important;
	display: inline-block;
	padding: 0.1em 0.5em !important;
}

span.rightButton
{
	font-size: 2em !important;
	color: white !important;
	font-family: MyriadProBold, MyriadPro, Arial, Sans-Serif !important;
	display: inline-block;
	padding: 0.1em 0.5em !important;
}

/* Accordian Menu Rules */
dl
{
	padding-top: 10px;
	padding-bottom:10px;
	min-width: 960px;
}
	dl dt
	{
		width:98%;
		background-color:#505050;
		margin: 0 auto .1em auto;
		-webkit-transition-property:color,background-color,padding-left,width;
		-webkit-transition-duration: 500ms, 500ms, 500ms, 500ms;
		-moz-transition-property:color,background-color,padding-left,width;
		-moz-transition-duration: 500ms, 500ms, 500ms, 500ms;
		-o-transition-property:color,background-color,padding-left,width;
		-o-transition-duration: 500ms, 500ms, 500ms, 500ms;
		box-shadow: 2px, 2px, 2px, 10px, rgba(0, 0, 0, 0.7);
	}
		dl dt a
		{
			color: #ffffff;
			font-weight: bold;
			text-decoration: none;
			padding: 10px;
			display: block;
			font-family: MyriadPro, Arial, Sans-Serif;
			font-size: 1.2em;
			-webkit-transition-property:padding-left;
			-webkit-transition-duration: 500ms;
			-moz-transition-property:padding-left;
			-moz-transition-duration: 500ms;
			-o-transition-property:padding-left;
			-o-transition-duration: 500ms;
		}
	dl dt:hover
	{
		background-color:#212121;
		color: #333;
		
		width:100%;
		
	}
	dl dt:hover a
	{
		padding-left: 50px;
	}
	dl dd
	{
		color: #cccccc;
		margin: 0;
		overflow: hidden;
		background-color: #dddddd;
		-webkit-transition: height 1s ease;
		-webkit-transform: translate(0px); /*hack to try and enable gpu assisted rendering, for smoother transitions*/
		-moz-transition: height 1s ease;
		-o-transition: height 1s ease;
	}
		dl dd p
		{
			font-size: 3em;
		}
	dl dd:not(:target) { height: 0;}
	dl dd:target 
	{ 
		height: 43em;  
		width:98%; 
		margin: 0 auto;
	}
	
	dd#Monitor:target{height: 36rem;}
	
	dd#Programs:target {height:39rem;}
	
	dd#Logging:target {height: 43rem;}
	
	/* End Accordian Rules */
	
	/* BrewTroller Logo */
	div#logo img 
	{
		display:block;
		height:81px;
		width:404px;
		margin: 0 auto;
  }
	
	/*---------------------/*
	// Monitor Fold Styles //
	/*--------------------*/
	
	#Monitor:-webkit-full-screen {  
	  width: 100% !important;
    background-color: black;  
  }
  
  #Monitor:-moz-full-screen {
    background-color: black;
  }
  
	/* Vessel Display */
	div#HLT, #MLT, #KETTLE
	{
		height: 30em;
		width: 30%;
		margin-top: .5em;
		margin-bottom: .5em;
		background-color: #313131;
		display: inline-block;
		box-shadow: 2px 2px 1px 1px #000;
		overflow: hidden;		
	}
	
	div#Vessels div:not(:last-child):not(:first-child){
		margin-left: .5em;
		margin-right: .5em;
	}
	
	div#Vessels
	{
		text-align: center;
	}
	
	.temperatureWrapper
	{
		width: 51%;
		float: left;
		display: inline-block;		
	}
	
	.temperatureWrapper p
	{
		font-family: MyriadProBold, MyriadPro, Arial, Sans-Serif;
		text-align: center;
		color: white;
		padding-left: .175em;
		padding-top: .3em;
		font-size: 5em;
	}
	
	.temperatureWrapper p span
	{
		font-family: MyriadProBold, MyriadPro, Arial, Sans-Serif;
	}
	
	.editableField
	{
	  border: 1px #666 dashed;
	  padding: 0.1em 0.2em;
		-webkit-user-select: text;
		-moz-user-select: text;
		-o-user-select: text;
	}
	
	.volumeWrapper {
		width: 30%;
		float: right;
		display: inline-block;
		margin-right: 1em;
		margin-left: 0.1em;
	}
	
	.volChart {
		width: 100%;
		height: 20em;
	}
	
	.volumeWrapper p {
		font-size: 2em;
		color: white;
	}
	
	.textDataWrapper p:last-child
	{
		text-align: center;
		padding-left: 0;
	}
	
	.vesselHidden
	{
		overflow: hidden;
		width: 0 !important;
		box-shadow: 0px 0px 0px 0px #000 !important;
	}
	
	div#MonitorButtons
	{
		width: 50%;
		margin: 1em auto;
		text-align: center;
	}
	
	div#MonitorButtons span
	{
		background-color: #505050;
		border: 2px black solid;
		font-size: 1.5em;
		padding: 0.5em;
		-webkit-transition: all 100ms linear;
		-moz-transition: all 100ms linear;
		-o-transition: all 100ms linear;
	}
	
	div#MonitorButtons span:hover
	{
		background-color: #313131;
	}
	
	div#MonitorButtons span:active
	{
		background-color: rgba(0, 153, 255, 0.5);
	}
	
	/* Vales Profile Display */
	div#Valves
	{
		width:70%;
		height: 11em;
		background-color: #313131;
		margin: 0 auto;
		text-align: center;
		color: white;
		box-shadow: 2px 2px 1px 1px #000;
	}
	
	div#Valves ul
	{
		display: inline-block;
		width: 90%;
		margin: 0 auto;
		margin-top: 0.7em;
	}
	
	div#Valves li
	{
		display: inline-block;
		font-size: 1.5em;
		font-family: MyraidPro, Arial, Sans-Serif;
		text-align: center;
		margin-top: 0.2em;
		width: 7.2em;
		-webkit-transition-property: background-color, color;
		-webkit-transition-duration: 200ms, 300ms;
		-moz-transition-property: background-color, color;
		-moz-transition-duration: 200ms, 300ms;
		-o-transition-property: background-color, color;
		-o-transition-duration: 200ms, 300ms;
	}
	
	div#Valves li:hover
	{
		background-color: rgba(0, 153, 255, 0.5);
	}
	
	div#Valves li.active
	{
		color: rgb(0, 255, 0);
	}
	
	/*----------------/*
  //  Program Fold //
  /*---------------*/

  #programSelector
  {
    list-style: none;
    font-size: 1.5rem;
  }

  #programActivator
  {
    color: white;
    background-color: #505050;
    display: inline-block;
    padding: 0.2em 0.3em;
    margin: 0.1em 0 0 1em;
    border: 2px black solid;
    font-family: MyriadPro, Arial, Sans-Serif;
    font-size: 1.25rem;
    -webkit-transition: all 200ms linear;
  }

  #programSelector li ul li
  {
    z-index: 10;
    border: 0.1em black solid;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    margin: 0.2rem 0.1rem;
    width: 3rem;
    font-family: 'PT Mono', MyriadPro, Arial, Sans-Serif;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
  }

  #programSelector li ul
  {
    z-index: 20;
    width: 12rem;
    height: 0;
    overflow: hidden;
    position: absolute;
    display: block;
    text-align: center;
    margin-top: 0.2em;
    background-color: #ccc;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
  }

  #programSelector li:hover
  {
    background-color: #000;
  }

  #programSelector li:hover ul li
  {
    background-color: #505050;
    color: white;
    font-size: 1.5rem;
  }

  #programSelector li:hover ul
  {
    height: 16rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 2px black solid;
  }

  #programSelector li ul li:hover
  {
    background-color: rgba(0, 153, 255, 0.5);
  }

  #programDisplay
  {
    width: 45rem;
    height: 35rem;
    margin: 0.5em auto 0 auto;
    background-color: #303030;
    box-shadow: 2px 2px 1px 1px #000;
    overflow: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
  }
  
  .programDisplayHidden
  {
    height: 0;
  }
  
  .identifier
  {
    font-family: 'Comfortaa', MyriadPro, Helvetica, Arial, Sans-Serif;
    
    font-size: 1.5rem;
  }
  
  .parameter
  {
    font-family: 'PT Mono', MyriadPro, Helvetica, Arial, Sans-Serif;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 0.5em;
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
  }
  
  .stepName
  {
    display: inline-block;
    width: 6.5rem;
    margin-left: .5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }
  
  .col2Id
  {
    display: inline-block;
    width: 8.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    margin-left: 2.5rem;
  }
  
  #programTitle
  {
    margin-left: 3em;
    padding-top: 0.5rem;
  }
    
  .column
  {
    display: inline-block;
    margin-top: 1.5rem;
    width: 50%;
    float: left;
    overflow: hidden;
    height: 25rem;
    -webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-o-transition: all 200ms linear; 
  }
  
  #strikeHeat
  {
    margin-left: 0.5rem;
  }
  #strikeHeat label {font-family: Comfortaa, Helvetica, Sans-Serif; font-size: 1.25rem;}
 
  #editBoilAdditions span
  {
    background-color: #505050;
		border: 2px black solid;
		font-size: 1rem;
		font-family: MyriadPro, Arial, sans-serif;
		padding: 0.5rem;
		margin-left: 5rem;
		margin-top: 0.5rem;
		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-o-transition: all 200ms linear;
  }
  
  #editBoilAdditions span:hover
	{
		background-color: rgba(0, 153, 255, 0.5);
	}
	
	#editBoilAdditions span:active
	{
		background-color: #313131;
	}
  
  #buttonFooter
  {
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		overflow: hidden;
		clear: both;
		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-o-transition: all 200ms linear;
  }
  
  #buttonFooter span
  {
    background-color: #505050;
		border: 2px black solid;
		font-size: 1rem;
		font-family: MyriadPro, Arial, sans-serif;
		padding: 0.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-o-transition: all 200ms linear;
  }
  
  div#buttonFooter span:hover
	{
		background-color: rgba(0, 153, 255, 0.5);
	}
	
	div#buttonFooter span:active
	{
		background-color: #313131;
	}
	
	#boilAdditionsOptions
	{
	  clear: both;
	}
	
	#boilAdditionsOptions .column div label
	{
	  font-family: Comfortaa, Helvetica, sans-serif;
	  font-size: 1.25rem;
	  display: inline-block;
	  width: 6rem;
	  margin-left: 1rem;
	}
	
	div#boilAddButtonFooter
	{
	  text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		overflow: hidden;
		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-o-transition: all 200ms linear;
	}
	
	#boilAddButtonFooter span
  {
    background-color: #505050;
		border: 2px black solid;
		font-size: 1rem;
		font-family: MyriadPro, Arial, sans-serif;
		padding: 0.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		-webkit-transition: all 100ms linear;
		-moz-transition: all 100ms linear;
		-o-transition: all 100ms linear;
  }
  
  div#boilAddButtonFooter span:hover
	{
		background-color: rgba(0, 153, 255, 0.5);
	}
	
	div#boilAddButtonFooter span:active
	{
		background-color: #313131;
	}
	
	.columnHidden
	{
	  height: 0;
	}
	
	.buttonFooterHidden
	{
	  height: 0;
	  padding: 0 !important;
	}
	
  /*---------------------/*
  //  Logging Fold Rules //
  /*---------------------*/
	
	#Logging
	{
	  text-align:center;
	}
	
	#logTimeBar, #logVesselTabs
	{
	  text-align: center;
	}
	
	#logTimeBar
	{
	  margin-bottom: 0.5rem;
	}
	
	#logTimeBar > div, #logVesselTabs > span
	{
	  display: inline-block;
	}
	
	#logGraph
	{
	  height: 32rem;
	  width: 95%;
	  margin-top: 1rem;
	  display: inline-block;
	}
	
	#logExportBar
	{
	  text-align: center;
	}
	
	#logExportBar span
	{
	  display: inline-block;
	}
	
	#logTimeBar > div > label
	{
	  font-family: Comfortaa, Helvetica, sans-serif;
	  font-size: 1.25rem;
	  padding-bottom: 1rem;
	  color: black;
	  margin: 0 0.5rem;
	  
	}
	
	#logTimeBar > div.timeSelector > span
	{
	  display: inline-block;
	  font-family: MyriadPro, Helvetica, Arial, sans-serif;
	  font-size: 1.5rem;
	  width: 10rem;
	  margin: 0.5rem 0 0 0;
	  padding: 0.2rem 0 0.2rem 0;
	  background-color: #505050;
	  border: 1px solid black;
	  color: white;
	}
	
	#logTimeBar > div:nth-child(3) > span
	{
	  width: 4rem;
	}

	.timeList
	{
	  position: absolute;
	  background-color: #505050;
	  border: 0px black solid;
	  width: 8.5rem;
	  height: 0rem;
	  overflow: auto;
	  z-index: 100;
	  margin-top: 0.2rem;
	  margin-left: 1rem;
	  -webkit-transition: all 250ms linear;
	  -moz-transition: all 250ms linear;
	  -o-transition: all 250ms linear;
	}
	
	#logTimeBar > div.timeSelector > span:hover
	{
	  box-shadow: 0 0 5px 1px rgb(0, 153, 255);
	}
	
	#logTimeBar > div.timeSelector > span:hover > div.timeList
	{
	  height: 9.4rem;
	  border: 2px black solid;
	}
	
	div.timeList > span
	{
	  display: inline-block;
	  font-size: 1.5rem;
	  font-family: MyriadPro, Helvetica, Arial, sans-serif;
	  text-align: center;
	  color: white;
	  width: 75%;
	  padding: 0.2rem 0.5rem 0 0.5rem;
	  margin-top: 0.2rem;
	  border: 1px solid rgb(190, 190, 190);
	}
	
	div.timeList > span:hover
	{
	  background-color: rgba(0, 153, 255, 0.6);
	}
	
	.resolutionList
	{
    position: absolute;
    margin: 0.2rem 0 0 -1rem;
  	background-color: #505050;
  	border: 0px black solid;
  	width: 6.5rem;
  	height: 0rem;
  	overflow: auto;
  	z-index: 100;
  	-webkit-transition: all 250ms linear;
  	-moz-transition: all 250ms linear;
  	-o-transition: all 250ms linear;
	}
	
  #logTimeBar > div.timeSelector > span:hover > div.resolutionList
  {
    height: 9.4rem;
    border: 2px black solid;
  }
	
	div.resolutionList > span
	{
	  display: inline-block;
	  font-size: 1.5rem;
	  font-family: MyriadPro, Helvetica, Arial, sans-serif;
	  text-align: center;
	  color: white;
	  width: 60%;
	  padding: 0.2rem 0.5rem 0 0.5rem;
	  margin-top: 0.2rem;
	  border: 1px solid rgb(190, 190, 190);
	}
	
	div.resolutionList > span:hover
	{
	  background-color: rgba(0, 153, 255, 0.6);
	}
	
	#logVesselTabs > span
	{
	  font-family: MyraidPro, Helvectica, Arial, sans-serif;
	  font-size: 1.25rem;
	  text-align: center;
    padding: 0.2rem 0 0.2rem 0;
    width: 6rem;
	  color: white;
	  background-color: #505050;
	  opacity: 0.6;
	  border: 1px solid rgb(0,0,0);
	  -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
	}
	
	#logVesselTabs > span:hover
	{
	  opacity: 1;
    background-color: rgba(0, 153, 255, 0.6);
	}

  .vesselLogSelectors
  {
    position: absolute;
    margin-top: 0.2rem;
    height: 0;
    width: 25rem;
    overflow: hidden;
    background: #505050;
    z-index: 999999;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
  }
  
  #logVesselTabs > span:hover > div.vesselLogSelectors
  {
    height: 18rem;
    border: 2px black solid;
    padding: 0 1rem 1rem 0;
  }
  .vesselLogSelectors > div.splitButton > label
  {
    font-size: 1.25rem;
    font-family: Comfortaa, MyriadPro, Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 9rem;
    text-align: left;
  }
  
  #logExportBar {margin-top: 1rem;}
  
  #logExportBar > span
  {
    background-color: #505050;
    color: white;
  	border: 2px black solid;
  	font-size: 1rem;
  	font-family: MyriadPro, Arial, sans-serif;
  	padding: 0.5rem;
  	margin-left: 1rem;
  	margin-right: 1rem;
  	-webkit-transition: all 200ms linear;
  	-moz-transition: all 200ms linear;
  	-o-transition: all 200ms linear;
  }
  
  #logExportBar > span:hover
	{
		background-color: rgba(0, 153, 255, 0.5);
	}
	
	#logExportBar > span:active
	{
		background-color: #313131;
	}

	
	/*---------------------/*
	// Settings Fold Rules //
	/*--------------------*/
	
	/* Tab Menu */
	
	div#SettingsMenu
	{
		width: 85%;
		margin: 0 auto 0 auto;
	}
	
	div#SettingsMenu span
	{
		width: 8em;
		height: 3em;
		background-color: #505050;
		display: inline-block;
		font-family: MyriadPro, Arial, Sans-Serif;
		text-align: center;
		margin-top: 0.2em;
		opacity: 0.6;
		border: 0 solid rgba(0,0,0,0);
		-webkit-transition: all 100ms linear;
		-moz-transition: all 100ms linear;
		-o-transition: all 100ms linear;
	}
	
	#SettingsMenu span:hover
	{
		opacity: 1;
		border: 3px solid rgba(0,0,0,0);
	}
	
	div#SettingsMenu .selected
	{
		background-color: #313131;
		opacity: 1;
	}
	
	#SettingsMenu p
	{
		font-size: 2em;
		color: white;
	}
	
 .tabPointer {
		width: 2em;
		height: 2em;
		background: -webkit-linear-gradient(top left, transparent 50%,rgba(49, 49, 49, 1) 51%,rgba(49, 49, 49, 1) 100%);
		background: -moz-linear-gradient(top left, rgba(49,49,49,0) 50%, rgba(49,49,49,1) 51%, rgba(49,49,49,1) 100%);
		background: -o-linear-gradient(top left, rgba(49,49,49,0) 50%,rgba(49,49,49,1) 51%,rgba(49,49,49,1) 100%);
		position: relative;
		bottom: 1.2em;
		left: 3em;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		border-radius: 4px;
	}
	
	.tabPointerHidden
	{
		visibility: hidden;
	}
	
	/* Settings Tabs */
	
	.SettingsTab 
	{
		width: 85%;
		margin: 0.6em auto 0 auto;
		background-color: #313131;
		box-shadow: 2px 2px 1px 1px #000;
		overflow: hidden;
		-webkit-transition-property: height, opacity;
		-webkit-transition-duration: 300ms, 1000ms;
		-moz-transition-property: height, opacity;
		-moz-transition-duration: 300ms, 1000ms;
		-o-transition-property: height, opacity;
		-o-transition-duration: 300ms, 1000ms;
	}
	
	.SettingsTabHidden
	{
		height: 0 !important;
		margin-top: 0;
		opacity: 0;
	}
	
	/*---------------------------/*
	// Global Settings Tab Rules //
	/*--------------------------*/
	
	div#GlobalSettings 
	{
		width: 35em;
		margin-left: 7em;
		height: 29em;
	}
	
	div#GlobalSettings.autoUpdateEnabled
	{
	  height: 33em;
	}
	
	.textSetting
	{
		font-family: MyriadPro, Myriad, Arial, Sans-Serif;
		margin: 2em auto;
	}
	
	/*text setting label*/
	div#GlobalSettings form label
	{
		font-size: 1.5em;
	}
	/*text setting content*/
	div#GlobalSettings form input[type='text']
	{
		margin-left: 0.5em;
		padding: 0.3em;
		background-color: #505050;
		font-family: MyriadProBold, MyriadPro, Arial, Sans-Serif;
		font-size: 1.5em;
		color: white;
		border: 2px black solid;
		width: 15em;
	}
	
	div#GlobalSettings form
	{
		display: inline-block;
		margin-top: 1.5em;
		margin-left: 2em;
	}
	
	/* Rules for Vessel Display options */
	div#vesselDisplayOptions
	{
		margin-top: 2em;
	}
	
	#vesselDisplayOptions label
	{
	  display: inline-block;
	  overflow: hidden;
	  width: 4rem;
	}
	
	/* Rules for Auto Update */
	div#autoUpdate
	{
		margin-top: 3em;
	}
	
	div#autoUpdate label
	{
		margin-right: 0.5em;
	} 
	
	/* Rules for Custom Number inputs */
	div.numberInput
	{
		font-family: MyriadPro, Arial, Sans-Serif;
		margin-left: 2em;
		margin-top: 1em;
		height: 3.5em;
		overflow: hidden;
		-webkit-transition-property: height;
		-webkit-transition-duration: 200ms;
		-moz-transition-property: height;
		-moz-transition-duration: 200ms;
		-o-transition-property: height;
		-o-transition-duration: 200ms;
	}
	
	.hiddenNumberInput
	{
		height: 0 !important;
	}
	
	div.numberInput label
	{
		font-size: 1.5em;
	}
	
	div.numberInput span.numberDisplay
	{
		display: inline-block;
		text-align: center;
		font-family: MyriadProBold, MyriadPro, Arial, Sans-Serif;
		padding: 0.3em;
		background-color: #505050;
		font-family: MyriadProBold, MyriadPro, Arial, Sans-Serif;
		font-size: 1.5em;
		color: white;
		border: 2px black solid;
		width: 6em;
		margin-left: 1.5em;		
	}
	
	div.numberInput span.topButton, span.bottomButton
	{
		display: inline-block;
		text-align: center;
		font-family:  MyraidPro, Arial, Sans-Serif;
		padding: 0.2em 0.4em;
		background-color: #505050;
		font-size: 1.5em;
		color: white;
		border: 2px black solid;
		-webkit-transition-property: font-size, padding, background-color;
		-webkit-transition-duration: 100ms, 100ms, 100ms;
		-moz-transition-property: font-size, padding, background-color;
		-moz-transition-duration: 100ms, 100ms, 100ms;
		-o-transition-property: font-size, padding, background-color;
		-o-transition-duration: 100ms, 100ms, 100ms;
	}
	
	div.numberInput span.topButton:hover, span.bottomButton:hover
	{
		background-color: rgba(0, 153, 255, 0.5);
	}
	
	div.numberInput span.topButton:active, span.bottomButton:active
	{
		background-color: #313131;
	}
	
	div#GlobalSettings button 
	{
		background-color: #505050;
		font-family: MyriadProBold, MyriadPro, Arial, Sans-Serif;
		color: white;
		font-size: 1.75em;
		border: 2px black solid;
		padding: 0.3em 0.6em 0.3em 0.6em;
		margin-left: 8em;
		margin-top: 1em;
		-webkit-transition-property: padding, background-color;
		-webkit-transition-duration: 100ms, 100ms;
		-moz-transition-property: font-size, padding, background-color;
		-moz-transition-duration: 100ms, 100ms, 100ms;
		-o-transition-property: font-size, padding, background-color;
		-o-transition-duration: 100ms, 100ms, 100ms;
	}
	
	div#GlobalSettings button:hover
	{
		padding: 0.5em 0.8em;
		background-color: rgba(0, 153, 255, 0.5);
	}
	
	div#GlobalSettings button:active
	{
		background-color: #313131;
	}

  #autoUpdateFrequency
  {
    margin-top: 1rem;
  }

	#autoUpdateFrequency label
	{
	  font-size: 1.5em;
	  margin-left: 1.5rem;
	}
	
	#autoUpdateFrequency span.editableField
	{
	  margin-left: 1.5rem;
	}
	
	#unitId
	{
	  font-family: MyriadProBold, MyriadPro, Helvetica, Arial, sans-serif;
	  font-size: 1.5rem;
	  margin-left: 0.5rem;
	}
	
	/*--------------------/*
	//  Vessel Settings  //
	/*-------------------*/
	
	div.outputSettings
	{
	  
	}
	
	div.volumeSettings
	{
	  
	}
	
	div.pidOptions 
	{
	  overflow: hidden;
	  height: 0;
	  -webkit-transition-property: height;
		-webkit-transition-duration: 100ms;
		-moz-transition-property: height;
		-moz-transition-duration: 100ms;
		-o-transition-property: height;
		-o-transition-duration: 100ms;
	}
	
	div.pidOptions :not(:last-child) .numberDisplay
	{
	  margin-left: 3.6em !important;
	}
	
	div.pidOptions :nth-child(2) .numberDisplay
	{
	  margin-left: 3.8em !important;
	}
	
	div.pidOptionsShow
	{
	  height: 18em;
	}
	
	/*----------------/*
	//  HLT Settings  //
	/*---------------*/
	div#HLTSettings
	{
	  height: 29em;
	  width: 70%;
	}
	
	div#MLTSettings
	{
	  height: 29em;
	  width: 70%;
	}
	
	div#KettleSettings
	{
	  height: 29em;
	  width: 70%;
	}
