.navButton{
	border-radius: 20px;
}

.text-wrap{
	color: white;
	text-align: center !important;
	margin: .2em;
	padding: .2em;
}

.button-wrap{
	color: white;
	text-align: center !important;
	margin: .2em !important;
    padding: .2em !important;
	border-radius: 8px !important;
	border:1px solid rgba(221, 221, 221, 0.4) !important;
}

.x-button-over{
	color: black !important;
	border:1px solid #dddddd !important;
    /*background: #efefef*/
    padding: 5px !important;
}

.x-button-selected {
    border:1px solid #00ff00;
    background: rgba(0, 239, 51, 0.3);
    padding: 5px;
}
/*00ef33*/